{% extends "layout.html" %}
{% block body %}
    <div style="overflow-x:auto;">
      <table>
        <tr>
            <th>Topologies</th><th>Workers</th><th>Components</th><th>Executors</th>
        </tr>       
        {% for t in topo_summary: %}
            <tr>
                <td><a href="{{ url_for('topo_network') }}?id={{ t[0] }}">{{ t[1] }}</a></td><td>{{ t[2] }}</td><td>{{ t[3] }}</td><td>{{ t[4] }}</td>
            </tr>
        {% else %}
            <td colspan=3>No active topology at the moment</td>
        {% endfor %}
    
        </table>
    </div>
{% endblock %}