{% extends "layout.html" %}
{% block body %}
    <h2>{{ topo_name }}</h2>
    <div style="overflow-x:auto;">
        <p>Workers Summary</p>
        <table>
                <tr>
                    <th>pid</th><th>Worker</th><th>Num Executors</th><th>Worker Components</th><th>In Data</th><th>Out Data</th>
                </tr>       
                {% for w in workers: %}
                    <tr>
                        <td>{{ w[0] }}</td><td><tt>{{ w[1] }}</tt></td><td>{{ w[2] }}</td><td>{{ w[3] }}</td><td>{{ w[4] }}</td><td>{{ w[5] }}</td>
                    </tr>
                {% else %}
                    <td colspan=6>Some Error</td>
                {% endfor %}
            
                </table>
    </div>
    <div style="overflow-x:auto;">
      <p>Connections Details</p>
      <table>
        <tr>
            <th>Connections</th><th>Workers</th><th>Packets</th><th>Data</th><th>Last</th>
        </tr>       
        {% for t in connections: %}
            <tr>
                <td><tt>{{ t[0] }}</tt></td><td>{{ t[1] }}</td><td>{{ t[2] }}</td><td>{{ t[3] }}</td><td>{{ t[4] }}</td>
            </tr>
        {% else %}
            <td colspan=5>Wrong Topology ID</td>
        {% endfor %}
    
        </table>
    </div>
    
{% endblock %}